html, body, .doc {
    background-color: #242126;
    font-family: "Segoe UI", sans-serif;
}

#navbar {
    background-color: #332f34;
    border-radius: 30px;
}

.nav-a {
    color: #332f34;
    text-decoration: none;
    filter: invert(10%);
}

.round-image {
    border-radius: 20px;
}

.nav-button {
    background-color: #48444a;
    border-radius: 10px;
}

.nav-button:hover {
    box-shadow: 0 0 20px #7e668c;
}

.white-text {
    color: #eaeaea;
}

.large {
    font-size: 38px;
}

.bold {
    font-weight: bolder;
}

.force-center {
    text-align: center;
}

.smol {
    width: 50px;
    height: 50px;
}

.img-link:hover {
    filter: invert(30%);
}

code {
    color: #eaeaea;
    background-color: #453d47;
    font-family: "Segoe UI", sans-serif;
    border-radius: 5px;
}
.boxeh {
    background-color: #332f34;
    border-radius: 10px;
}

.boxeh1 {
    background-color: #48444a;
    border-radius: 10px;
}

.pink {
    color: #f4a1da;
}

.red {
    color: #ff878c;
}

.purple {
    color: #9877b7;
}
